form {
  background-color: gray;
  padding: 8px;
  width: 150px;
  border: 10px solid black;
  display: block;
  text-align: left;

}

#nolla {
  width: 62px;
}

#pilkku {
  width: 29px;
}

#yhtasuuri {
  width: 30px;
}

#kerto, #miinus {
  width: 30px;
}

#allclear {
  width: 35px;
}
